@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Source+Sans+Pro:wght@300;400&display=swap");

section {
  text-align: center;
}

section > hr {
  width: 50%;
  color: rgb(240, 240, 240, 0.5);
}

section h1 {
  font-weight: 300;
  font-size: 2.5rem;
  color: #333;
  font-family: "Lato", sans-serif;
  color: #545454;
}

section > p {
  color: #545454;
  font-size: 20px;
  margin-bottom: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 10px;
  width: 80%;
  margin: auto;
}

.container hr {
  color: #f0f0f0;
  opacity: 0.1;
}

.container .card {
  color: #333;
  padding: 10px;
  background: #f0f0f0;
  /* margin: auto; */
  width: 250px;
}

.card h4 {
  padding: 10px 0;
  font-size: 20px;
  font-weight: 700;
  color: #545454;
}

.card p {
  font-size: 14px;
  padding: 30px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  color: #333;
  font-weight: 300;
}

.card img {
  margin-top: 20px;
}

/* @media (max-width: 768px) {
  .container {
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    gap: 10px;
  }

  .container .card {
    margin: auto;
    width: 100%;
  }
} */
